.my-orders-header {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  .my-orders-title {
    font-size: 1rem;
  }
  
  .orders-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .order-link {
    margin-bottom: 1rem;
    text-decoration: none;
    color: black;
    transition: transform 0.3s ease;
  }
  
  .order-link:hover {
    transform: translateY(-2px);
  }
  